.breadcrumb {
  margin: 0;
}
.table-btns {
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .table {
    font-size: 10px;
  }
  .table-btns {
    flex-direction: column;
  }
  .table-btns button {
    margin: 5px 0;
    padding: 3px;
    font-size: 10px;
  }
}
.table .table-body {
  /* vertical-align: center !important; */
}
@media (min-width: 768px) {
  form {
    width: 60%;
  }
  /* .editProduct-form {
  } */
}
@media (max-width: 767px) {
  form {
    margin: auto;
  }
}
/* textarea {
  height: 100px !important;
} */
.form-label {
  font-weight: bold;
  font-family: sans-serif;
}
.form-floating {
  padding: 10px 0;
}
@media (max-width: 576px) {
  form,
  form label,
  .form-control,
  .breadcrumb {
    font-size: 10px;
  }
  .form__submit-btn button {
    font-size: 13px;
  }
}
