.carousel-control-prev,
.carousel-control-next {
  width: 17%;
}
.swiper__slide {
  position: relative;
  width: 100%;
  background-position: 25%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 85vh;
}
.swiper__slide img {
  min-height: 85vh;
  width: auto;
}

/* For small screens and up */
@media (min-width: 640px) {
  .swiper__slide {
    background-position: left top;
  }
}
.swiper__text {
  position: absolute;
  top: 20%;
  left: 10% !important;
  transform: translateX(-50%) translateY(-50%);
  text-align: start;
  z-index: 100;
  width: 40%;
}

/* For small screens and up */
@media (min-width: 640px) {
  .swiper__text {
    left: 50%;
  }
}

.carousel-caption.fade-in-up {
  opacity: 1;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 50%;
}
.slide-text {
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 3px;
}
.slide-head {
  font-size: 56px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 66px;
}

@media (max-width: 768px) {
  .swiper__text {
    width: 70%;
  }
  .slide-head {
    font-size: 40px;
    line-height: 50px;
  }
  .slide-text {
    font-size: 16px;
    line-height: 16px;
  }
  .main-button {
    padding: 6px 12px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .swiper__text {
    width: 90%;
  }
  .slide-head {
    font-size: 25px;
    line-height: 33px;
  }
  .slide-text {
    font-size: 14px;
    line-height: 16px;
  }
  .main-button {
    padding: 6px 12px;
    font-size: 12px;
  }
}
/* ============================================================ */
.elementor__img {
  filter: brightness(0.7);
}
.elementor__btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  --bs-btn-bg: white;
  --bs-btn-border-color: none;
  --bs-btn-color: #000;
}
.elementor__figure,
.elementor__img {
  transition: all 0.7s ease-in;
  overflow: hidden;
  -webkit-transition: all 0.7s ease-in;
  -moz-transition: all 0.7s ease-in;
  -ms-transition: all 0.7s ease-in;
  -o-transition: all 0.7s ease-in;
}
.elementor__figure:hover .elementor__img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
